<ion-header>
  <ion-navbar color="danger">
    <button ion-button menuToggle left>
     <ion-icon name="menu"></ion-icon>
   </button>
    <ion-title >+ Discount Offers - {{country[0]}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="main-container">

      <div class="loading" text-center *ngIf="loading">
          <i class="fa fa-spinner fa-pulse fa-5x fa-fw"></i>
      </div>
<!--
    <ion-row class="card-background-page">
        <ion-col col-6 *ngFor="let item of data">

            <ion-card class="transparent"
             (click)="listItems(item.id)">
              <img [src]="item.images | sinfoto "/>
              <div class="card-title">{{ item.name }}</div>
              <div class="card-subtitle">{{ item.total_results }} products</div>
            </ion-card>
        </ion-col>
    </ion-row>
-->

<ion-list>
    <ion-item *ngFor="let item of data" (click)="listItems(item.id)">
      <ion-thumbnail item-start>
        <img [src]="item.images | sinfoto "/>
      </ion-thumbnail>
      <h2 class="text">{{ item.name }}</h2>
      <p class="text yellow">{{ item.total_results }} products</p>
    </ion-item>
</ion-list>


</ion-content>
