// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.text{
  color: #d7d7d7;
}

.yellow{
  color:yellow;
}

.main-container{
  background-color: black !important;
  ion-item{
    background-color: black !important;
  }
}


.block-content{
  padding: 5px;
  bottom: 0px;
  width: 100%;
  display: inline-block;
  vertical-align: top;

  .block-text{
    padding:10px;
  }
  
  .title{
    color: #d7d7d7;
  }
  .subtitle{
    padding-left: 4px;
    border-left: 4px solid blue;
  }

  .price {
    color: white;

    .normal{
     color: white;
     font-size: 12px;
    }

   .resaltado{
     text-decoration: line-through;
    }

    .discount{
      color: red;
      font-size: 13px;
    }

    .plus{
      color:yellow;
    }

  }

}

.loading {
      margin-top: 50%;
}
.fa-spinner{
  color:yellow;
}

.oops{
  text-align: center;
  margin-top: 50%;
  color:white;
}


.fa-star, .fa-star-o, .fa-star-half-empty{
  color: yellow;
}

.fa-globe{
  color:blue;
}

.date{
  color :red !important;
  font-weight: bold;
}

.infinite-loading-spinner, .infinite-loading-text{
  color:yellow;
}
.infinite-loading-spinner .spinner-bubbles circle, .infinite-loading-spinner .spinner-circles circle, .infinite-loading-spinner .spinner-dots circle{
  fill:yellow;
}

.main-container ion-spinner.spinner {
  width: 40px;
  height: 40px;
  stroke: #444;
  fill: #387ef5;
}


body{
  background-color: #f53d3d;
  //background-image: url('../assets/img/playstation.jpg');
}
/*
.date{
  color :blue !important;
}

.infinite-loading-spinner, .infinite-loading-text{
  color:yellow;
}
.infinite-loading-spinner .spinner-bubbles circle, .infinite-loading-spinner .spinner-circles circle, .infinite-loading-spinner .spinner-dots circle{
  fill:yellow;
}

.main-container ion-spinner.spinner {
  width: 40px;
  height: 40px;
  stroke: #444;
  fill: #387ef5;
}
.main-container{
  background: #222;
  background-image: url('../assets/img/playstation.jpg');
}

.transparent{
  background: rgba(0, 0, 0, 0.9);
  overflow: hidden;
}

.item-md{
  background-color: transparent;
  padding-left: 12px;
}

.label-md{
  margin: 0;
margin-top: 5px;
margin-bottom: 5px;
}

.card, .card-md{
  position: relative;
}

.image{
  height: 80px;
  width: 80px;
}
.blue{
  padding: 5px;
  bottom: 0px;
  width: 100%;
  display: inline-block;
  vertical-align: top;

}

.fa-globe, .fa-star, .fa-star-o, .fa-star-half-empty{
  color: blue;
}

.block-title{
  position: absolute;
    background: rgba(0,0,0,0.9);
    padding: 9px;
    color: white;
    width: 100%;
}

.blue-block{
  background: blue;
  padding: 2px;
  display: inline-block;
  margin: 2px;
}

.block-title h1, .block-title h2{
  color: white;
}

.blue .title{
  color: white;
}

.blue .subtitle{
  color:white;
  padding-left: 4px;
  border-left: 4px solid blue;
}

.blue .price {
  color: white;
}

.blue .price .normal{
  color: white;
  font-size: 12px;
}

.blue .price .resaltado{
  text-decoration: line-through;
}

.blue .price .discount{
  color: red;
  font-size: 13px;
}

.blue .price .plus{
  color:yellow;
}

.loading {
      margin-top: 50%;
}
.fa-spinner{
  color:yellow;
}

.oops{
  text-align: center;
  margin-top: 50%;
  color:white;
}*/
