<ion-header>
  <ion-navbar color="danger">
    <button ion-button menuToggle left top>
     <ion-icon name="menu"></ion-icon>
   </button>
    <ion-title>Search</ion-title>
  </ion-navbar>
  <ion-toolbar color="danger" inset>
    <ion-searchbar
    [(ngModel)]="query"
    [showCancelButton]="shouldShowCancel"
    (ionInput)="onInput($event)"
    (ionCancel)="onCancel($event)">
  </ion-searchbar>
</ion-toolbar>
</ion-header>

<ion-content class="main-container">
  <div class="loading" text-center *ngIf="loading">
      <i class="fa fa-spinner fa-pulse fa-5x fa-fw"></i>
  </div>
  <div class="oops" *ngIf="!loading && products.length == 0 && query.length > 0">
      <i class="fa fa-meh-o fa-5x" aria-hidden="true"></i>
      <h1>No suggestion of "{{ query }}"</h1>
  </div>
    <ion-item class="transparent" *ngFor="let product of products" (click)='details(product.id)'>

          <ion-thumbnail item-start>
              <img item-left [src]="product.url+'/image?_version=00_09_000&platform=chihiro&w=124&h=124&bg_color=000000&opacity=100'" class="image">
          </ion-thumbnail>

          <div class="block-content">
              <h3 class="title text">{{ product.short_name }}</h3>
              <h4 class="subtitle text">{{ product.game_contentType }} - {{ product.playable_platform }}</h4>
              <div class="price">
                <span class="normal">{{product.default_sku?.display_price}}</span><br>
                <span *ngFor="let reward of product.default_sku?.rewards">
                  <span class="discount" [ngClass]="{'plus': reward.isPlus}">{{ reward.display_price }}</span>
                  <span class="plus">{{ reward.bonus_display_price }}</span>
                </span>
              </div>
          </div>
    </ion-item>
</ion-content>
