<ion-header>
  <ion-navbar color="danger">
    <button ion-button menuToggle left>
     <ion-icon name="menu"></ion-icon>
   </button>
    <ion-title>Setting</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="padding main-container">

      <ion-list radio-group [(ngModel)]="check">
          <ion-list-header style="background-color:black; color:white;">
            PSN Store Country
          </ion-list-header>

          <ion-item class="text" *ngFor="let item of country">
            <ion-label>{{ item.name }}</ion-label>
            <ion-radio  [value]="item.key" (click)="save(item.key)"></ion-radio>
          </ion-item>

        </ion-list>

</ion-content>
