<ion-header >
  <ion-navbar color="danger">
    <ion-title>{{title}}</ion-title>
    <ion-buttons end>
      <button ion-button right (click) = "toggleRightMenu()">
        <ion-icon name="options"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content class="product main-container">
  <div class="loading" text-center *ngIf="loading">
      <i class="fa fa-spinner fa-pulse fa-5x fa-fw"></i>
  </div>
  <!--
<ion-card [@flyInOut]="'in'" class="transparent" *ngFor="let item of products" >
  <ion-item *ngIf="item.container_type == 'product'"
  class="transparent" (click)='details(item.id)'>
        <img item-left [src]="item.images | sinfoto" class="image">
    <div class="blue">
        <h3 class="title">{{ item.short_name }}</h3>
        <h4 class="subtitle">{{ item.game_contentType }} - {{ item.playable_platform }}</h4>
        <div class="price">
          <span class="normal">{{item.default_sku.display_price}}</span><br>
          <span *ngFor="let reward of item.default_sku.rewards">
            <span class="discount" [ngClass]="{'plus': reward.isPlus}">{{ reward.display_price }}</span>
            <span class="plus">{{ reward.bonus_display_price }}</span>
          </span>
        </div>
    </div>
  </ion-item>

</ion-card>
-->

<ion-list  [@flyInOut]="'in'" [virtualScroll]="products" bufferRatio="10" approxItemHeight="114px" >
    <ion-item  *virtualItem="let product" (click)='details(product.id)'>
      <ion-thumbnail item-start>
          <img [src]="product.images | sinfoto"/>
      </ion-thumbnail>

      <div class="block-content">
          <h3 class="title text">{{ product.short_name }}</h3>
          <h4 class="subtitle text">{{ product.game_contentType }} - {{ product.playable_platform }}</h4>
          <div class="price">
            <span class="normal">{{product.default_sku.display_price}}</span><br>
            <span *ngFor="let reward of product.default_sku.rewards">
              <span class="discount" [ngClass]="{'plus': reward.isPlus}">{{ reward.display_price }}</span>
              <span class="plus">{{ reward.bonus_display_price }}</span>
            </span>
          </div>
      </div>
    </ion-item>
</ion-list>

<ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>

<ion-nav #filter swipe-back-enabled="false"></ion-nav>

<ion-menu side="right" [content]="filter">
  <ion-header>
    <ion-navbar color="dark">
      <ion-title>Filters</ion-title>
    </ion-navbar>
  </ion-header>

<ion-content>
    <ion-list>
      <ion-item>
        <ion-label>Sort by</ion-label>
          <ion-select [(ngModel)]="sort1" (ionChange)="sortBy()">
              <ion-option value="price,desc">Price(High-Low)</ion-option>
              <ion-option value="price,asc">Price(Low-High)</ion-option>
              <ion-option value="name,asc">Title(A-Z)</ion-option>
              <ion-option value="name,desc">Title(Z-A)</ion-option>
              <ion-option value="release_date,desc">Release Date(Newest First)</ion-option>
              <ion-option value="release_date,asc">Release Date(Oldest First)</ion-option>
          </ion-select>
      </ion-item>
   </ion-list>
   <ion-list>
     <ion-item>
       <ion-label>Media type</ion-label>
         <ion-select [(ngModel)]='game_type_input' multiple="true" (ionChange)="sortByQuery()">
             <ion-option *ngFor="let item of game_type_result"
             value="{{item.key}}">{{item.name}}</ion-option>
         </ion-select>
     </ion-item>
     <ion-item>
       <ion-label>Platform</ion-label>
         <ion-select [(ngModel)]='platform_input' multiple="true" (ionChange)="sortByQuery()">
             <ion-option *ngFor="let item of platform_result"
             value="{{item.key}}">{{item.name}}</ion-option>
         </ion-select>
     </ion-item>
    </ion-list>
</ion-content>
</ion-menu>
