<ion-header>
  <ion-navbar color="danger">
    <ion-title>{{ data?.name }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="padding main-container">
  <div class="loading" text-center *ngIf="loading">
      <i class="fa fa-spinner fa-pulse fa-5x fa-fw"></i>
  </div>
      <div class="block-content" *ngIf="data !== undefined">
        <div class="">
          <ion-slides pager *ngIf="data.promomedia[0]?.materials; else image">
              <ion-slide *ngFor="let item of data.promomedia[0]?.materials">
                <img [src]="item.urls[0].url">
              </ion-slide>
          </ion-slides>
          <ng-template #image>
              <img [src]="data.images | sinfoto:true ">
          </ng-template>
        </div>

        <div class="block-text">
        <div>
          <ion-row>
            <ion-col col-8>
              <h2>{{ data.provider_name }}</h2>
              <span class="line">{{ data.game_contentType }}</span> |
              <span class="line">{{ data.release_date | date }}</span><br>
              <span class="line" *ngIf="data?.star_rating.score != null" [innerHTML]='data?.star_rating.score | starRating '></span>
              <span class="line" *ngIf="data?.star_rating.score != null">{{ data.star_rating.total }} rating</span>
            </ion-col>
            <ion-col col-4 class="blue" text-right>
              <div class="price" *ngIf="data?.default_sku">
                <span class="normal">{{data.default_sku.display_price}}</span><br>
                <span *ngFor="let reward of data.default_sku.rewards">
                  <span class="discount"  [ngClass]="{'plus': reward.isPlus}">{{ reward.display_price }}</span>
                  <span class="plus">{{ reward.bonus_display_price }}</span>
                </span>
              </div>
              <div class="blue-block" *ngFor="let item of data.playable_platform">
                {{item}}
              </div>
            </ion-col>
          </ion-row>
        </div>
        <p *ngIf="data?.default_sku"  [innerHTML]= 'data.default_sku?.rewards[0]?.description'></p>
        <p class="date" *ngIf="data?.default_sku?.rewards[0]">
          Start date : {{ data.default_sku?.rewards[0]?.start_date | date }} / End date : {{ data.default_sku?.rewards[0]?.end_date | date }}
        </p>
      <p>
        Description: <br>
        <span [innerHTML]= 'data?.long_desc '></span>
      </p>

      </div>
  </div>
      <ion-fab bottom right *ngIf="data !== undefined">
        <button ion-fab  color="light" (click)="openBrowser(data.id)"><i class="fa fa-globe fa-2x" aria-hidden="true"></i></button>
      </ion-fab>

</ion-content>
